body {
	background-color: #D09B61;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: #FFFFFF;
	background-image: url("../images/background image.jpg");
	background-repeat: repeat-x;
	font-family: 'Roboto', sans-serif;
}

h2 {
	color: #722900;
	background-image: url("../images/gradient.png");
	background-repeat: repeat-x;
	font-family: 'Roboto', sans-serif;
}

ul {
    color: #5C6D7A;
}

a {
	color: #ad4409;
}

nav a {
	color: #FFFFFF;
	color: rgba(255,255,255, 0.3);
	text-decoration-line: none;
}

header nav ul {
	list-style-type: none;
}

ul {
	list-style-type: circle;
}

.byline {
	color: #ac39fe;
	color: rgba(172, 57, 254, 0.5);
	font-size: 70%;
}

#page-copyright {
    color: #FFFFFF;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
	letter-spacing: 3px;
}

img {
	border: 1px solid #ddd;
  	border-radius: 4px; 
  	padding: 5px;
  	width: 150px;
}

figcaption {
	color: #ffffff;
}

.bio p {
	text-indent: 3em;
}

footer {
	text-align: center;
	font-size: 12px;
}