body {
	background-color: #D09B61;

}

h1 {
	color: #720800;
}

h2 {
	color: #722900;
}

ul {
    color: #5C6D7A;
}

a {
	color: #ad4409;
}

nav a {
	color: #FFFFFF;
	color: rgba(255,255,255, 0.3);
}

.byline {
	color: #ac39fe;
	color: rgba(172, 57, 254, 0.5)
}

#  page-copyright {
    color: #FFFFFF;
	color: rgba(255,255,255,1)
}

